@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: .5px;
}

body {
    background: #68aacd;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 130vh;
    background: #ececec;
    padding-top: 50px;
}

.main h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 6vmin;
    color: #1E3D5B;
}

.line {
    width: 300px;
    height: 3px;
    background: #1E3D5B;
    margin: 0px auto;
    border-radius: 50px;
    margin-top: 5px;
}

.main h3 {
    text-align: center;
    font-size: 3.2vmin;
    letter-spacing: 1px;
    color: #1E3D5B;
    margin: 15px;
}
.options {
    display: grid;
    margin: 0 auto;
    grid-template-areas: "card card card";
    grid-gap: 70px;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
}
.btn {
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: #1E3D5B;
    color: white;
    transition: .4s;
    letter-spacing: 1px;
}

.btn:hover {
    background: transparent;
    color: #000;
    border: 2px solid #1E3D5B;
}
.img-card {
    padding-bottom: 10px;
}